body {
  background-color: #e5e6f0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #8fbc8f;
  width: 100vw;
  height: 100px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

header .logo {
  width: 70px;
  height: 70px;
}

header .perfil {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: auto;
}

header .perfil img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

header .perfil h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 11%;
  color: #fff;
}

main {
  height: 711px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  background-color: blue;
}

.options {
  background-color: #fff;
  width: 200px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.options-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  margin-bottom: 10px;
}

.options-buttons button {
  border: none;
  background-color: #e5e6f0;
  padding: 10px;
  cursor: pointer;
}

.options-buttons button:hover {
  background-color: #cccdd6;
}