<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Produtos</title>
</head>
<body>
    <main>
        <h1>Lista Produtos</h1>
        <div>
            <div class="nome">
                <h2>Nome</h2>
                <div>
                    Pneu
                </div>
                <div>
                    pneu
                </div>
                <div>
                    pneu
                </div>
            </div>
            <div class="fabricante">
                <h2>Fabricante</h2>
                <div>
                    Pirelli
                </div>
            </div>
            <div class="qtd">
                <h2>Quantidade</h2>
                <div>
                    125
                </div>
            </div>
            <div class="descricao">
                <h2>Descrição</h2>
                <div>
                    Pneu Aro 14 It203 165/60r14 75h
                </div>
            </div>
        </div>
    </main>
</body>
</html>