<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produção</title>
</head>

<body>
    <header>
        <button onclick="homePage()">Inicio</button>
        <button onclick="qualidadePage()">QA</button>
        <button onclick="estoquePage()">Estoque</button>
    </header>
    <main>
        <div class="secondmain">
            <div class="producao-cadastrar">
                <h2>Cadastrar</h2>
                <div class="inputs">
                    <div class="input-up">
                        <input type="text" placeholder="Modelo">
                        <input type="text" placeholder="Chassi">
                    </div>
                    <div class="input-bottom">
                        <input type="text" placeholder="Cor">
                        <input type="text" placeholder="Ano de Fabricação">
                    </div>
                </div>
            </div>
            <div>
                <select id="combobox1"></select>
                <select id="combobox2"></select>
                <select id="combobox3"></select>
            </div>
            <div>
                <select id="combobox4"></select>
                <select id="combobox5"></select>
                <select id="combobox6"></select>
            </div>
        </div>
    </main>
</body>

</html>