<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QA Resultado</title>
</head>

<body>
    <header>
        <button onclick="homePage()">Inicio</button>
        <button onclick="qualidadePage()">QA</button>
    </header>
    <main>
        <div class="secondmain">
            <h2>Resultado: <span>Reprovado</span></h2>
            <div class="results">
                <div class="result-up">
                    <div>
                        <label for="PneuR">Pneu:</label>
                        <h3 id="PneuR">Reprovado</h3>
                    </div>
                    <div>
                        <label for="PortaR">Porta:</label>
                        <h3 id="PortaR">Reprovado</h3>
                    </div>
                    <div>
                        <label for="MotorR">Motor:</label>
                        <h3 id="MotorR">Reprovado</h3>
                    </div>
                </div>
                <div class="result-bottom">
                    <div>
                        <label for="LatariaR">Lataria:</label>
                        <h3 id="LatariaR">Reprovado</h3>
                    </div>
                    <div>
                        <label for="InteriorR">Interior:</label>
                        <h3 id="InteriorR">Reprovado</h3>
                    </div>
                    <div>
                        <label for="FarolR">Farol:</label>
                        <h3 id="FarolR">Reprovado</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>