body {
    background-color: #e5e6f0;
}

header {
    background-color: #8fbc8f;
    width: 95px;
    height: 40px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom-right-radius: 16px;
}

header button {
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 16px;
}

header button:hover {
    background-color: #cccdd6;
}

main {
    display: flex;
    height: 35vw;
    align-items: center;
    justify-content: center;
}

.secondmain {
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.secondmain h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.secondmain h2 span {
    color: #e72828;
}

.aprovedh2 {
    color: #3cc73c !important;
}

.results {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.result-up, .result-bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.result-up h3, .result-bottom h3 {
    border: 1px solid #000;
    margin: 5px 0;
    background-color: #e72828;
    padding: 5px;
}

.aproved {
    background-color: #3cc73c !important;
}