<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>
<body>
    <main>
        <div class="estoque-cadastrar">
            <h1>Cadastrar</h1>
            <div>
                <div class="button-up">
                    <input type="text" name="nome" placeholder="Nome">
                    <input type="text" name="fabricante" placeholder="Fabricante">
                </div>
                <div class="button-bottom">
                    <input type="text" name="quantidade" placeholder="Quantidade">
                    <input type="text" name="descricao" placeholder="Descrição">
                </div>
                <button>Cadastrar</button>
            </div>
        </div>
        <div class="button-list">
            <button>Ver Lista</button>
        </div>
    </main>
</body>
</html>